html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'FontAwesome';
}

body {
	background-color: black;
}

.media {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: black;
}

#image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

#textContainer {
	position: absolute;
	display: none;
	width: 100%;
	height: 120px;
	bottom: 0;
	background-color: black;
	opacity: 50%;
	text-align: center;
}

#textMessage {
	display: table-cell;
	vertical-align: middle;
	color: white;
	font-size: 30pt;
}

#splash {
	position: absolute;
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: gray;
}

#splash .fa-smile-o {
	display: table-cell;
	vertical-align: middle;
	color: white;
	font-size: 200pt;
}

#playControls {
	position: absolute;
	display: none;
	width: 100%;
	height: 120px;
	bottom: 0;
	background-color: black;
	opacity: 50%;
	text-align: center;
}

.playControl {
	display: table-cell;
	vertical-align: middle;
	color: white;
	font-size: 40pt;
}

#pauseButton {
	display: none;
}

#playBar {
	position: absolute;
	display: none;
	left: 0px;
	bottom: 120px;
	width: 100%;
	height: 5px;
	background-color: red;
}

#playBarProgress {
	width: 0px;
	height: 5px;
	background-color: orange;
}